# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: realworld-ingress
#   annotations:
#     kubernetes.io/ingress.class: "gce"
# spec:
#   rules:
#   - http:
#       paths:
#       - path: /api
#         pathType: Prefix
#         backend:
#           service:
#             name: api-gateway
#             port:
#               number: 8085
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: frontend
#             port:
#               number: 80


apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: realworld-ingress
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
  - http:
      paths:
      - path: /api/*                    # Changed: added /*
        pathType: Prefix  # Changed: was Prefix
        backend:
          service:
            name: api-gateway
            port:
              number: 8085
      - path: /                        # Changed: added /*
        pathType: Prefix  # Changed: was Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80